@media (max-width:1199px) {
    .aside {
        left: -270px;
    }
    .main-content {
        padding-left: 0;
    }
    .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }
}
@media (max-width:991px) {
    .contact-form .form-item, 
    .portfolio .portfolio-item, 
    .service-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-img {
       display: none;
    }
}
@media (max-width: 767px) {
    .contact-form .form-item, 
    .portfolio .portfolio-item,
    .service-item,
    .about-content .skills,
    .about-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
}